<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Корзина</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">PizzaDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Корзина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Регистрация</a>
                </li>
            </ul>
        </div>
    </nav>

  <div class="container mt-4">
    <h3>Ваша корзина</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Товар</th>
          <th>Цена</th>
          <th>Количество</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <% cart.forEach(function(item) { %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.price %> руб.</td> 
              <td>
                <form action="/cart/update" method="POST" class="d-inline">
                    <input type="hidden" name="productId" value="<%= item.productId %>">
                    <input type="number" name="quantity" value="<%= item.quantity %>" min="0">
                    <button type="submit" class="btn btn-warning">Обновить</button>
                  </form>
              </td>
              <td>
               
                <form action="/cart/remove" method="POST" class="d-inline">
                  <input type="hidden" name="productId" value="<%= item.productId %>">
                  <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
              </td>
            </tr>
          <% }); %>
      </tbody>
    </table>
    <h4>Total sum: <%= totalPrice.toFixed(2) %> grn.</h4>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
